@import '../../assets/style/functions.scss';

.action-buttons {
    min-height: 40px;
    display: flex;
    width: 100%;
    border-top: solid 1px var(--border-color);

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        width: 50%;
        transition: cubic-bezier(0.5, 1, 0.1, 1) .25s;
        font-size: px-to-rem(14px);
       
        .svg-icon {
            margin-right: px-to-vw(5px);
            height: 20px;
            width: 20px;
            transition: cubic-bezier(0.5, 1, 0.1, 1) .25s;
            transform-origin: 50% 50%;
        }

        &.left {
            border-left: solid 0.5px var(--border-color);
        }

        &.right {
            border-right: solid 0.5px var(--border-color);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--hover-color);
            font-size: px-to-rem(15px);

            .svg-icon {
                margin-right: px-to-vw(7px);
                transform: scale(1.1);
            }
        }

        &.selected {
            background: linear-gradient(0deg, var(--background-color) 62%, var(--menu-buttons-gradient-color) 100%);
            &:hover {
                background: linear-gradient(0deg, var(--hover-color) 62%, var(--menu-buttons-gradient-color) 100%);
            }
        }
    }
}