@import '../../assets/style/functions.scss';

.news-screen {
    margin: auto;

    &__content {
        height: 350px;
    }

    .screen-title {
        font-size: px-to-rem(15px);
        font-weight: 500;
        width: fit-content;
        margin: 0 auto 15px;
    }

    .news-tile-small {
        display: flex;
        padding: 10px 5px;
        max-width: 90vw;

        &__content {
            flex-grow: 1;
            .title {
                font-weight: 500;
                margin-bottom: 5px;
            }

            .footer {
                display: flex;
                margin-bottom: 6px;
                .related {
                    max-width: 270px;
                    overflow-x: hidden;
                    font-size: px-to-rem(11px);
                    text-overflow: ellipsis;
                }
                .date {
                    font-size: px-to-rem(11px);
                    margin-left: auto;
                    align-self: flex-end;
                }
            }
        }
        &__open {
            margin-left: 10px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            .share {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}