@import '../../assets/style/functions.scss';

.favorite-stocks {
    display: flex;
    flex-direction: column;
    padding: 0 25px;

    &__description {
        font-size: px-to-rem(15px);
        font-weight: 500;
        width: fit-content;
        margin: 0 auto 15px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__list {
            margin-top: 25px;
            max-height: 300px;
            overflow-y: auto;
            width: 290px;
            .custom-combobox-result__item {
                display: flex;
                border-bottom: solid 0.5px var(--border-color);

                &.last {
                    padding-bottom: 3px;
                }

                &:hover {
                    cursor: default;
                }
                
                .remove-button {
                    margin-left: auto;
                    padding-top: 2px;

                    .close {
                        width: 12px;
                        height: 12px;
                        margin-left: auto;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                &-enter {
                    opacity: 0;
                    transform: translateY(-100%);

                    &-active {
                        opacity: 1;
                        transform: translateY(0%);
                        transition: opacity 500ms, transform 500ms;
                    }
                }

                &-exit {
                    opacity: 1;
                    transform: translateY(0%);

                    &-active {
                        opacity: 0;
                        transform: translateY(-100%);
                        transition: opacity 500ms, transform 500ms;
                    }
                }
            }
        }
    }
}